:root {
    /* COMMON */
    --common-wrapper-width: 1200px;
    /* GLOBAL */
    --main-fontFamily: 'Roboto', sans-serif;
    --main-fontSize: 18px;
    --main-fontColorDark: #2b2b2b;
    --main-fontColorLight: #ebebeb;
    --main-lineHeight: 1.5;

    /* LAYOUT */
    --layout-bg-light: #fff;
    --layout-bg-dark: #222429;

    /* COLOR THEME */
    --theme-bg-black: #181A1D;


}